server {
    listen 80 default_server;

	root /opt/smokeping/htdocs;
	index smokeping.fcgi;

	location / {
		try_files $uri $uri/ =404;
	}

	location ~\.fcgi$ {
	    fastcgi_intercept_errors on;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/var/run/fcgiwrap.socket;
	}

	location /cache/ {
		alias {{ image_cache_dir }};
	}
}
